<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<title> Session</title>

<body>


<div class="container">


  <nav class="navbar navbar-dark bg-primary">
    <div class="row">
      <h1 style="color:white">Eggshell</h1>
      <div class=" col">
        <div class="row">
          <a href="/home/index" class="btn btn-primary" role="button">Home</a>
          <a href="/profiles" class="btn btn-primary"  role="button">User profile</a>
          <a href="/users" class="btn btn-primary"  role="button">Users List</a>
          <a href="/projects" class="btn btn-primary"  role="button">My projects</a>
          <a href="/projects" class="btn btn-primary"  role="button">Projects</a>
          <a href="/sessions/new" class="btn btn-primary"  role="button">Log in</a>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </div>

  </nav>

  <h1>Best of the week</h1>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h1>Falcon heavy</h1>
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp; text=Falcon Heavy" alt="cohete feed" style="height: 225px; width: 100%; display: block;" src="/assets/cohete.jpg">
            <div class="card-body">
              <p class="card-text">Rocket to go to mars.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Show</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h1>My prusa</h1>
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/mk3.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">The new 3d printer prusa mk3.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Show</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>

</div>
</body>
</html>
