<div class = "container">

<p id="notice"><%= notice %></p>

<h1>Projects you suported</h1>

<table class = "table table-hover -bordered">
  <thead>
    <tr>

      <th>Project</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_funds_projects.each do |user_funds_project| %>
      <tr>

        <td><%= user_funds_project.Project.name %></td>
        <td><%= user_funds_project.amount %></td>
         </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Funds Project', new_user_funds_project_path %>
</div>